html,
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    color: black;
    width: 100%;
    height: 74px;
    z-index: 999;
    background-color: white;
}

a {
    text-decoration: none;
}

i {
    width: 1.0625em;
    height: 1.0625em;
}

.satauri {
    text-align: center;
    font-size: 40px;
}

h4 {
    height: 0px;
    margin-top: 0px;
    animation-name: satauri;
    animation-duration: 1s;
    animation-delay: 0.001ms;
}


/*  */


/*  */


/*  */

#navigation1 .dropdown {
    z-index: 999;
    position: absolute;
    background: white;
    border: 2px solid black;
    border-radius: 3px;
    top: 100%;
    width: 100px;
    display: none;
    margin: -1px 0px 0px 8px !important;
    list-style-type: none;
}

#navigation1 #li22:hover .dropdown {
    display: block;
}

#navigation1 {
    list-style-type: none;
    margin-top: 12px;
}

#navigation1 .dropdown li a {
    margin-left: -32px;
    color: black;
}

#navigation1 .dropdown li a:hover {
    font-size: 17px !important;
    font-weight: bolder;
}

#li22 .dropdown li a {
    border-bottom: 1px solid black;
}

#li22 .dropdown li {
    border-bottom: 1px solid black;
}


/* body div .navigacia:hover {
    letter-spacing: 1px;
    font-size: 25px;
} */


/*  */


/*  */

@keyframes satauri {
    0% {
        opacity: 0;
        letter-spacing: 11px;
    }
    10% {
        opacity: 0.1;
        letter-spacing: 10px;
    }
    20% {
        opacity: 0.2;
        letter-spacing: 9px;
    }
    30% {
        opacity: 0.3;
        letter-spacing: 8px;
    }
    40% {
        opacity: 0.4;
        letter-spacing: 7px;
    }
    50% {
        opacity: 0.5;
        letter-spacing: 6px;
    }
    60% {
        opacity: 0.6;
        letter-spacing: 5px;
    }
    70% {
        opacity: 0.7;
        letter-spacing: 4px;
    }
    80% {
        opacity: 0.8;
        letter-spacing: 3px;
    }
    90% {
        opacity: 0.9;
        letter-spacing: 2px;
    }
    100% {
        opacity: 1;
        letter-spacing: normal;
    }
}

#shaviferi {
    color: black;
}

.ikonkebi {
    display: flex;
    width: 3.1875em;
    height: 1.0625em;
}

.hr1 {
    border-radius: 3px;
    background: black;
    width: 100%;
    height: 5px;
    margin-top: 0px;
}

.ikonkebiregistracia {
    position: absolute;
    right: 20px;
    top: 8px;
    height: 3.1875em;
    width: 115px;
}

.registracia {
    position: relative;
    left: 0px;
    top: 3px;
}

.divnavigacia {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
}

.navigacia {
    font-size: 20px;
    padding: 10px 10px 0px 10px;
}

footer {
    background-color: black;
    position: absolute;
    bottom: -85px;
    left: 0px;
    width: 100%;
    height: 85px;
}

.divfooter {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 65px;
}

.about {
    padding: 0px 30px 0px 0px;
}

.footercontact {
    padding: 0px 30px 0px 0px;
}

.tetriferi {
    color: white;
}

.sakontaqtoinformacia {
    position: absolute;
}


/* .mtavaridivi{
    height: calc(100vh - 85px);
} */

.dato {
    margin-top: 10px;
}

form {
    margin-top: 74px;
    width: 100%;
    height: 800px;
}

#div1 {
    width: 314px;
    margin: 20px 50% 0px 40%;
    height: 650px;
    background-color: gray;
    opacity: 0.6;
    border-radius: 30px;
}

input,
label,
button {
    position: static;
    top: 50px;
    left: 0px;
    margin-left: 38px;
    font-size: 1.2em;
}

input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 10px;
    border-bottom-color: black;
    background-color: rgb(85, 81, 81);
    border-radius: 10px;
    color: black;
}

.chekpointi1 {
    padding-left: -80px;
}

button {
    border-radius: 10px;
    background-color: gray;
    border-color: gray;
    position: relative;
    left: 30px;
    top: 10px;
}

label {
    color: black;
    font-weight: bolder;
}

::-webkit-input-placeholder {
    /* Edge */
    color: white;
    font-weight: bolder;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: white;
    font-weight: bolder;
}

::placeholder {
    font-weight: bolder;
    color: white;
}